<%- include('../partials/head-admin')%>

  <body class="body-admin">
    <% if(user.role=='admin' ){%>
      <%- include('../partials/header-admin')%>
        <%}else{%>
          <%- include('../partials/header-user')%>
            <%} %>
              <h2 style="margin-left: 20px;">Perfil del usuario</h2>
              <figure>
                <img src=".././images/avatars/<%= user.image%>" alt="<%= user.name%>" title="<%= user.name%>"
                  style="margin-left: 20px;">
              </figure>
              <table class="profile_table">
                <tr>
                  <th>
                    Nombre de usuario
                  </th>
                  <th>
                    Email 
                  </th>
                </tr>
                <tr>
                  <td>
                    <%= user.name%>
                  </td>
                  <td>
                    <%= user.email%>
                  </td>
                </tr>
              </table>
             
  </body>

  </html>